<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
{{# if errors }}
    {{# each errors }}
        <p>{{ this.msg }}</p>
    {{/each}}
{{/if}}
{{# if success }}
    <p>{{ success }}</p>
{{/if}}
<form method="POST" action="/user">
    <input type="text" name="login">
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>
</body>
</html>